/* This style ensure that the html scrolls smoothly */
html {
    scroll-behavior: smooth;
}

/* Body text color */
body {
    color: #161616;
}

/* Links color */
a {
    color: #161616;
}

/* Hide visually-hidden elements */
.visually-hidden {
    display: none;
}

/* Card category color */
.card-category {
    color: #D73953;
}

/* Section tagline color */
.section-tagline {
    color: #D73953;
}
